/* sane defaults */

:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button,
input,
select {
  font-family: inherit;
}

/* actual styling */

:root {
  font-family: Roboto;
}

form {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

legend {
  padding: 0;
  background-color: #000;
}

legend a {
  color: #fff;
  display: block;
  padding: 0.3rem 0.6rem;
}

code {
  display: block;
  line-height: 2rem;
}
code::before {
  content: "$ ";
}
