@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 0.8rem;
}

body {
  margin: 5rem;
}
.App {
  margin-top: 1rem;
  column-count: 3;
  column-width: 25em;
  column-gap: 5rem;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Input {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.02) 100%
  );
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  transition: all 0.2s ease-out;
}
.Input.checked {
  opacity: 0.5;
}
.Input:hover {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.045) 100%
  );
  transform: translateX(0.4rem);
}
.Input .Input {
  margin-left: 2rem;
}
.Input code, .Input kbd {
  flex: 1;
}
.Input h5 {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
.Input p {
  margin: 0;
  width: 100%;
  flex-basis: 100%;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 0.5rem;
  padding-top: 0.5rem;
}

pre {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  margin-left: 2rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
  margin-top: 1.2em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

@media print {
  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
  }
  .controls {
    display: none;
  }
}

@supports (background-clip: text) {
 @keyframes rainbow-slide {
  0% {
   background-position:0 50%
  }
  50% {
   background-position:100% 50%
  }
  to {
   background-position:0 50%
  }
 }
 h1{
  color: transparent;
  background-clip: text;
  background-size: 300% 100%;
  background-image: linear-gradient(
    90deg,
    #e5600b 0,
    #bfaf00 14%,
    #37bb00 28%,
    #25b5f5 43%,
    #ca57fa 68%,
    #fa3f2b 83%,
    #e5600b);
  animation: rainbow-slide 8s linear infinite;
 }
}
